<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
        all: initial;
      }
    </style>

    <h3>I'm the receiver</h3>
    <h3> This course is: [[course]], [[year]] edition.</h3>

    <input type="text" name="courseValue" value="{{course::input}}"/>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() {
        return 'receptor-evento';
      }
      static get properties() {
        return {
          course: {
            type: String,
            observer: '_courseChanged'
          },
          year: {
            type: Number,
            observer: '_yearChanged'
          }
        };
      }

      _courseChanged(newValue, oldValue) {
        console.log('Course value changed');
        console.log('New value is: ' + newValue);
      }
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
