<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
        all: initial;
      }
    </style>

    <h3>I'm the emitter</h3>
    <button on-click="sendEvent">Do not press...</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() {
        return 'emisor-evento';
      }
      static get properties() {
        return {};
      }

      sendEvent(e) {
        console.log('Button pressed');
        console.log(e);

        this.dispatchEvent(
          new CustomEvent(
            'myevent', {
              'detail': {
                'course': 'TechU',
                'year': 2018
              }
            }
          )
        );
      }
    }

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
