<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
        all: initial;
      }
    </style>

    <h2>Greetings [[first_name]] [[last_name]]</h2>
    <br/>
    <div>You have {{total_accounts}} accounts!</div>
    <br/>
    <table>
      <tr>
        <th>IBAN</th>
        <th>Balance</th>
        <th>Currency</th>
      </tr>
      <template is="dom-repeat" items="{{accounts}}">
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.balance}}</td>
          <td>{{item.currency}}</td>
        </tr>
      </template>
    </table>


    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="saveUserData"
    >

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts?$count=true"
      handle-as="json"
      on-response="saveUserAccounts"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String,
          },
          last_name: {
            type: String,
          },
          email: {
            type: String
          },
          id: {
            type: Number
          },
          accounts: {
            type: Array
          },
          total_accounts: {
            type: Number
          }
        };
      }

      saveUserData(data) {
        let userData = data.detail.response;

        this.first_name = userData.first_name;
        this.last_name = userData.last_name;
        this.email = userData.email;
      }

      saveUserAccounts(data) {
        let accountsData = data.detail.response;

        this.accounts = accountsData.accounts;
        this.total_accounts = accountsData.accounts.length;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
