<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-accounts">
  <template>
    <style>
      :host {
        display: block;
        all: initial;
      }
    </style>

    <div>Account list: </div>
    <br/>
    <div> Total Accounts: {{total_accounts}} </div>
    <br/>
    <template is="dom-repeat" items="{{accounts}}">
        <div>IBAN: <span>{{item.id}}</span></div>
        <div>Balance: <span>{{item.balance}}</span></div>
        <div>Currency: <span>{{item.currency}}</span></div>
        <br/>
    </template>

    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/accounts?$count=true"
      handle-as="json"
      on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccounts extends Polymer.Element {
      static get is() { return 'visor-accounts'; }
      static get properties() {
        return {
          total_accounts: {
            type: Number
          },
          accounts: {
            type: Array
          }
        };
      }

      showData(data) {
        let accountData = data.detail.response;
        // Assign values to the local properties
        this.total_accounts = accountData.count;
        this.accounts = accountData.accounts;
      }
    }

    window.customElements.define(VisorAccounts.is, VisorAccounts);
  </script>
</dom-module>
